[group:mantl]
name = {{ lvm_volume_group_name }}
devices = {{ lvm_physical_device }} 

{% if inventory_hostname in groups["role=worker"] %}
[group:mongodb]
name = {{ mongodb_lvm_volume_group_name }}
devices = {{ mongodb_lvm_physical_device}}
{% endif %}

{% if inventory_hostname in groups["mysql"] %}
[group:mysql]
name = {{ mysql_lvm_volume_group_name }}
devices = {{ mysql_lvm_physical_device}}
{% endif %}