{
  "api.version": "v1",
  "sources": [
    {
      "name": "audit",
      "category": "linux_apps_logs",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": false,
      "contentType": "Linux",
      "forceTimeZone": false,
      "timeZone": "Etc/UTC",
      "filters": [],
      "cutoffTimestamp": 1466578800000,
      "encoding": "UTF-8",
      "thirdPartyRef": {
        "resources": [
          {
            "serviceType": "Linux",
            "path": {
              "type": "NoPathExpression"
            },
            "authentication": {
              "type": "NoAuthentication"
            }
          }
        ]
      },
      "pathExpression": "/var/log/audit/*.log*",
      "blacklist": [],
      "sourceType": "LocalFile"
    },
    {
      "name": "secure",
      "category": "linux_apps_logs",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": false,
      "contentType": "Linux",
      "forceTimeZone": false,
      "timeZone": "Etc/UTC",
      "filters": [],
      "cutoffTimestamp": 1466578800000,
      "encoding": "UTF-8",
      "thirdPartyRef": {
        "resources": [
          {
            "serviceType": "Linux",
            "path": {
              "type": "NoPathExpression"
            },
            "authentication": {
              "type": "NoAuthentication"
            }
          }
        ]
      },
      "pathExpression": "/var/log/secure*",
      "blacklist": [],
      "sourceType": "LocalFile"
    },
    {
      "name": "syslog_messages",
      "category": "linux_apps_logs",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": false,
      "contentType": "Linux",
      "forceTimeZone": false,
      "timeZone": "Etc/UTC",
      "filters": [],
      "cutoffTimestamp": 1466578800000,
      "encoding": "UTF-8",
      "thirdPartyRef": {
        "resources": [
          {
            "serviceType": "Linux",
            "path": {
              "type": "NoPathExpression"
            },
            "authentication": {
              "type": "NoAuthentication"
            }
          }
        ]
      },
      "pathExpression": "/var/log/messages*",
      "blacklist": [],
      "sourceType": "LocalFile"
    },
    {
      "name": "mesos",
      "category": "linux_apps_logs",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": false,
      "useAutolineMatching": false,
      "contentType": "Linux",
      "forceTimeZone": false,
      "timeZone": "Etc/UTC",
      "filters": [],
      "cutoffTimestamp": 1466578800000,
      "encoding": "UTF-8",
      "thirdPartyRef": {
        "resources": [
          {
            "serviceType": "Linux",
            "path": {
              "type": "NoPathExpression"
            },
            "authentication": {
              "type": "NoAuthentication"
            }
          }
        ]
      },
      "pathExpression": "/var/log/mesos/*.log*",
      "blacklist": [],
      "sourceType": "LocalFile"
    }
  ]
}